<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog w450">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel5">新建签名申明</h4>
            </div>
            <div class="modal-body">
                <form id="itemForm">
                    <div class="form-group has-require">
                        <label class="control-label col-md-3" for="input_Name">签名名称</label>
                        <div class="col-md-8">
                            <select class="select2" name="Name" id="input_Name">
                                <option value="">...</option>
                                {{ each signatures as item }}
                                <option value="{{item.OID}}" value2="{{item.SignatureName}}" value3="{{item.SignatureDeclaration}}" >{{item.SignatureName}}({{item.OID}})</option>
                                {{ /each }}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="input_IsEnable">启用状态</label>
                        <div class="col-md-8">
                            <div id="input_IsEnable" class="radioBox" >
                                <label class="radio-inline">
                                    <input type="radio" checked name="inlineRadioOptions" id="inlineRadio1" value="1"> 是
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2"> 否
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-add">保存</button>
                <button type="button" class="btn btn-cancel" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript">
    $(function () {
        $("#myModal5").on("hidden.bs.modal", function() {
            $('#itemForm')[0].reset();
            $('#itemForm').data('bootstrapValidator').resetForm();
            $(this).attr({'data-type':''});
            $('#myModalLabel5').html('新建签名申明');
        });
        $("#myModal5").on("show.bs.modal", function() {
            if(!nowRole) {
                tms.alert('请选择角色！');
                return false;
            }
            var tp=$(this).attr('data-type');
            if(tp=='edit'){
                var id=$(this).attr('data-id');
                $('#myModalLabel5').html('编辑签名申明');
                $(this).find('.btn-add').unbind('click').bind('click',function () {
                    addItem(id);
                });
                return;
            }
            $(this).find('.btn-add').unbind('click').bind('click',function () {
                addItem();
            })
        });
    })
</script>