<nav>
    <ul>
        <li><a class="link1" href="/crflib"><i class="icons6-codedic"></i>编码字典</a></li>
        <li><a class="link1" href="/crflib/item"><i class="icons6-item"></i>Item定义</a></li>
        <li><a class="link1" href="/crflib/itemGroup"><i class="icons6-groupitem"></i>ItemGroup定义</a></li>
        <li><a class="link1" href="/crflib/form"><i class="icons6-form"></i>表单定义</a></li>
        <li><a class="link1" href="/crflib/studyEvent"><i class="icons6-study"></i>研究事件定义</a></li>
    </ul>
    <div class="left-logo"></div>
</nav>