<nav>
    <ul>
        <li id="nav_crf_paramConfig">
            <a class="link1" href="/crf/paramConfig"><i class="icons6-config"></i>参数配置</a>
        </li>
        <li id="nav_crf_unitDictionary">
            <a class="link1" href="/crf/unitDictionary"><i class="icons6-data"></i>计量单位字典</a>
        </li>
        <li id="nav_crf_unitGroupDictionary">
            <a class="link1" href="/crf/unitGroupDictionary"><i class="icons6-data"></i>计量单位组字典</a>
        </li>
        <li id="nav_crf_crfDraft">
            <a class="link1" href="/crf/crfDraft"><i class="icons6-crf"></i>eCRF设计</a>
        </li>
        <li id="nav_crf_versionTransfer">
            <a class="link1" href="/crf/versionTransfer"><i class="icons6-config"></i>数据迁移</a>
        </li>
    </ul>
    <div class="left-logo"></div>
</nav>