<nav>
    <ul>
        <li id="nav_draft_draftConfig">
            <a class="link1" href="/draft"><i class="icons6-config"></i>草案设置</a>
        </li>
        <li id="nav_draft_codingDictionary">
            <a class="link1" href="/draft/codingDictionary"><i class="icons6-data"></i>编码字典</a>
        </li>
        <li id="">
            <a class="link1" href="/draft/item"><i class="icons6-data"></i>Item定义</a>
        </li>
        <li id="">
            <a class="link1" href="/draft/itemGroup"><i class="icons6-crf"></i>ItemGroup定义</a>
        </li>
        <li id="">
            <a class="link1" href="/draft/formredirect"><i class="icons6-config"></i>表单定义</a>
        </li>
        <li id="">
            <a class="link1" href="/draft/studySet"><i class="icons6-config"></i>研究事件定义</a>
        </li>

        <li id="">
            <a class="link1" href="/draft/formDesign"><i class="icons6-config"></i>表单设计</a>
        </li>
        <li id="">
            <a class="link1" href="/draft/trialProtocol"><i class="icons6-data"></i>试验流程</a>
        </li>
        <li id="">
            <a class="link1" href="/draft/editCheck"><i class="icons6-data"></i>逻辑核查</a>
        </li>
        <li id="">
            <a class="link1" href="/draft/derivation"><i class="icons6-crf"></i>自动计算</a>
        </li>
        <li id="">
            <a class="link1" href="#"><i class="icons6-config"></i>映射配置</a>
        </li>
        <li id="">
            <a class="link1" href="#"><i class="icons6-config"></i>权限配置</a>
        </li>
    </ul>
    <div class="left-logo"></div>
</nav>