<nav>
    <ul>
        <li><a class="link1" href="/exp"><i class="icons6 icons6_ins"></i>检验项</a></li>
        <li><a class="link1" href="/exp/laboratory"><i class="icons6 icons6_exp"></i>实验室</a></li>
        <li><a class="link1" href="/exp/globalCheck"><i class="icons6 icons6_allins"></i>全局检验</a></li>
        <li><a class="link1" href="/exp/unitDictionary"><i class="icons6 icons6_allunit"></i>全局单位</a></li>
        <li><a class="link1" href="/exp/unitGroupDictionary"><i class="icons6 icons6_allunit"></i>全局单位组</a></li>
        <li><a class="link1" href="/exp/globalDictionary"><i class="icons6 icons6_alldic"></i>全局字典</a></li>
        <li><a class="link1" href="/exp/globalVariable"><i class="icons6 icons6_allvar"></i>全局变量</a></li>
        <li><a class="link1" href="/exp/rangeType"><i class="icons6 icons6_allrang"></i>范围类型</a></li>
        <li><a class="link1" href="/exp/convert"><i class="icons6 icons6_convert"></i>单位换算</a></li>
    </ul>
    <div class="left-logo"></div>
</nav>