<nav>
    <ul>
        <li><a class="link1" href="/power"><i class="icons6-queclass"></i>质疑分类</a></li>
        <li><a class="link1" href="/power/enterpriseRole"><i class="icons6-entrole"></i>企业角色</a></li>
        <li><a class="link1" href="/power/subjectRole"><i class="icons6-prorole"></i>项目角色</a></li>
        <li><a class="link1" href="/power/user"><i class="icons6-usermng"></i>用户管理</a></li>
        <li><a class="link1" href="/power/sign"><i class="icons6-sign"></i>签名申明</a></li>
    </ul>
    <div class="left-logo"></div>
</nav> class="link1"