<style>
	.nav-collect {
	    width: 80px;
	    margin-right: -80px;
	    height: 100%;
	    position: fixed;
	    z-index: 10;
	    float: left;
	    padding-top: 52px;
	    background: #39527b;
	    text-align: center;
	}
</style>
<div class="nav-collect">
    <ul>
        <li id="nav_collect_main"><a href="/collect" class="link2"><i class="icons9 icons9_index"></i>首页</a></li>
        <li id="nav_collect_patientList"><a href="/collect/patientList" class="link2"><i class="icons9 icons9_patient"></i>受试者</a></li>
        <li id="nav_collect_query"><a href="/collect/query" class="link2"><i class="icons9 icons9_query"></i>质疑管理</a></li>
        <li id="nav_collect_coding"><a href="/collect/coding" class="link2"><i class="icons9 icons9_coding"></i>医学编码</a></li>
    </ul>
</div>