<!-- 模态框（Modal） -->
<div class="modal fade" id="formDesignItemGroupEdit"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog w450">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">关联ItemGroup</h4>
            </div>
            <div class="modal-body">
                <form id="itemForm-fde">
                    <div class="form-group has-require">
                        <label class="control-label col-md-3" for="input_OID_fde">ItemGroupOID</label>
                        <div class="col-md-8">
                            <select class="select2" name="OId" id="input_OID_fde">
                                <option value="">...</option>
                                {{ each itemGroupOptions as item }}
                                <option value="{{item.Id}}">{{item.OId}}</option>
                                {{ /each }}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="input_DisplayName_fde">显示名称</label>
                        <div class="col-md-8">
                            <input type="text" name="Version" class="form-control" id="input_DisplayName_fde" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="input_IsMultirecord_fde">数据集类型</label>
                        <div class="col-md-8">
                            <select class="select2" id="input_IsMultirecord_fde" disabled>
                                <option value="1">多记录</option>
                                <option value="0">单记录</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-8">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="input_IsMustExist_fde">必须存在
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-8">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="input_IsActive_fde">激活
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-add">保存</button>
                <button type="button" class="btn btn-cancel" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript">
    $(function () {
        //模态框显示与隐藏 执行事件
        {
            $("#formDesignItemGroupEdit").on("hidden.bs.modal", function() {
                $('#itemForm-fde')[0].reset();
                $('#itemForm-fde').data('bootstrapValidator').resetForm();
                $('#input_OID_fde').val('').trigger('change');
                $(this).attr({'data-type':''});
                $('#formDesignItemGroupEdit').find('.modal-title').html('关联ItemGroup');
            });
            $("#formDesignItemGroupEdit").on("show.bs.modal", function() {
                if(!_json.FormId) {
                    tms.alert('请选择一个表单');
                    return false
                }

                $(this).removeClass('edit');
                var tp=$(this).attr('data-type');
                if(tp=='edit'){
                    $(this).addClass('edit');
                    var id=$(this).attr('data-id');
                    $('#formDesignItemGroupEdit').find('.modal-title').html('编辑ItemGroup');
                    $(this).find('.btn-add').unbind('click').bind('click',function () {
                        addItemGroup(id);
                    });
                    return;
                }
                $(this).find('.btn-add').unbind('click').bind('click',function () {
                    addItemGroup();
                })
            });
        }
        $('#input_OID_fde').change(function () {
            var itemid=$(this).val();
            tms.services.getItemGroup({
                requestBody:{
                    IsPaged: false,
                    Id: itemid
                },
                callback:function (res) {
                    if (res["ItemGroupItems"].length > 0) {
                        var item = res["ItemGroupItems"][0];
                        $("#input_DisplayName_fde").val(item["DisplayName"]);
                        $("#input_IsMultirecord_fde").val(item["IsMultirecord"]);
                    }
                }
            })
        })
    });
    function addItemGroup(id) {
        var id=id||"";
        var isMustObjs=$('#itemForm-fde').data('bootstrapValidator').validate();
        if(!isMustObjs.isValid()) return false;
        tms.services.createOrUpdateFormItems({
            requestBody:{
                Id:id,
                FormId: _json.FormId,
                ItemGroupId: $('#input_OID_fde').val(),
                IsMustExist:$('#input_IsMustExist_fde').prop('checked'),
                IsActive: $('#input_IsActive_fde').prop('checked'),
                IsBase: false,
                CRFVersionId: bp1.CurrentDraftId,
                StudyId: bp1.CurrentProjectId

            },
            callback:function (data) {
               $tableItemGroup.bootstrapTable('refresh');
                tms.alert('保存成功',function () {
                    $('#formDesignItemGroupEdit').modal('hide');
                })
            }

        })
    }
</script>