<div class="modal fade" id="checkSignPwdAndPin" role="dialog">
    <div class="modal-dialog w450" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">验证签名</h4>
            </div>
            <div class="modal-body">
                <div id="signdec" style="display:none; color:red;line-height: 26px;margin-bottom: 10px;"></div>
                <form id="sumForm">
                    <div class="form-group has-require">
                        <label class="col-md-4">请输入密码：</label>
                        <div class="col-md-7">
                            <input id="passWord" type="password" class="form-control" name="passWord">
                        </div>
                    </div>
                    <div class="form-group has-require">
                        <label class="col-md-4">请输入PIN码：</label>
                        <div class="col-md-7">
                            <input id="pin" type="password" class="form-control" name="pin">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button onclick="onGetPIN(this);" type="button" class="btn btn-add" style='width:100px;'>获取PIN码</button>
                <button id="save" type="button" class="btn btn-add">保存</button>
                <button type="button" class="btn btn-cancel" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#checkSignPwdAndPin').on('show.bs.modal',function () {
            $('#checkSignPwdAndPin').removeClass("edit");
            // 加载申明
            getSignature();
        });

        $('#checkSignPwdAndPin').on('hide.bs.modal',function () {
        	$('#sumForm').data('bootstrapValidator').resetForm();
            $('#sumForm')[0].reset();
        });
        
        $('#save').click(function(){
            if($('#sumForm').data('bootstrapValidator').validate().isValid()){
                tms.services.checkSignature({
                    requestBody:{
                        StudyId: bp1.CurrentProjectId,
                        EnvironmentId: bp1.CurrentEnvironmentId,
                        SiteId: bp1.CurrentHospitalId,
                        SubjectId: currentRow.Id,
                        SubjectIntId: currentRow.IntId,
                        Pin: $('#pin').val(),
                        PassWord: $('#passWord').val(),
                        SignatureType: 2
                    },
                    callback:function(data){
                        $('.modal').modal('hide');
                        location.reload();
                    }
                })
            }
        })
    });

    // EDC获取签名申明
    function getSignature(){
        tms.services.getSignature({

            requestBody:{
                StudyId:"44359cf078704f6991bea748007ac3ce",
                EnvironmentId:"5fde2578-3176-4105-a010-74fbe9c9a2c8",
                SiteId:"56a8395cbcb84c4889aba748007adcf8",
                SubjectId:"ca30b76f-00f7-4698-a455-8eadecf8f5cf",
                SubjectIntId:"535"
            },
            callback:function(data){
                $('#signdec').html(data.SignatureDeclaration).show();
            }
        }) 
    }

    // 获取pin码
    function onGetPIN(dom) {
        var btn = $(dom).attr("disabled", true);
        var count = 30;
        var handle = setInterval(function () {
            count--;
            if (count <= 0) {
                clearInterval(handle);
                btn.text("获取PIN码").attr("disabled", false);
            }
            else {
                btn.text(count + "秒后可重发");
            }
        }, 1000);

        tms.services.getPin({
            callback:function(data){
                tms.alert("已经发送");
            }
        })
    }
</script>