<div class="modal fade" id="formEdit" role="dialog">
    <div class="modal-dialog w450" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form id="sumForm">
                    <div class="form-group has-require">
                        <label class="col-md-3">OID</label>
                        <div class="col-md-8">
                            <input id="OID-02" type="text" class="form-control" name="OID">
                        </div>
                    </div>
                    <div class="form-group has-require">
                        <label class="col-md-3">名称</label>
                        <div class="col-md-8">
                            <input id="Name-02" type="text" class="form-control" name="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">表单类型</label>
                        <div class="col-md-8">
                            <select id="IsMultirecord-02" class="form-control">
                                <option value="">全部</option>
                                <option value="0">单表单</option>
                                <option value="1">多表单</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">标准</label>
                        <div class="col-md-8">
                            <select id="StandardTypeName-02" class="form-control getSys-types">
                                {{each StandardTypeOptions as item i}}
                                <option value="{{item.Id}}" value2="{{item.Value}}">{{item.Name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">描述</label>
                        <div class="col-md-8">
                            <textarea id="Description-02" class="form-control" rows="3" style="height:auto !important;" name="description" maxlength="255"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="save" type="button" class="btn btn-add">保存</button>
                <button type="button" class="btn btn-cancel" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script>
    var OID02 =  $('#OID-02');
    var Name02 = $('#Name-02');
    var IsMultirecord02 = $('#IsMultirecord-02');
    var Description02 = $('#Description-02');
    var StandardTypeName02 = $('#StandardTypeName-02');


    $(function () {
        // 初始化select2
        IsMultirecord02.select2({
            minimumResultsForSearch: -1,
            width: "100%"
        });
        StandardTypeName02.select2({
            minimumResultsForSearch: -1,
            width: "100%"
        });

        $('#formEdit').on('show.bs.modal',function () {
            //console.log(currentRow.Id);
            if(currentRow.Id){
                $('#formEdit').addClass("edit");
                $('#formEdit .modal-title').html("编辑表单");
                OID02.val(currentRow.OId);
                Name02.val(currentRow.Name);
                Description02.val(currentRow.Description);
                IsMultirecord02.select2('val',currentRow.IsMultirecord);
                StandardTypeName02.val(currentRow.StandardTypeId).trigger('change');
            }else{
                $('#formEdit').removeClass("edit");
                $('#formEdit .modal-title').html("新建表单");
            }
        });

        $('#formEdit').on('hide.bs.modal',function () {
            // 重置表单
            $('#sumForm').data('bootstrapValidator').resetForm();
            $("#IsMultirecord-02 option:first").prop("selected", 'selected').trigger('change');
            $("#StandardTypeName-02 option:first").prop("selected", 'selected').trigger('change');
            $('#sumForm')[0].reset();
            $('.isMessage').remove();
            currentRow = {};
        });

        $('#save').click(function(){
            if($('#sumForm').data('bootstrapValidator').validate().isValid()){
                var query = {
                    Id:currentRow.Id,
                    OId:OID02.val(),
                    Name:Name02.val(),
                    IsMultirecord:IsMultirecord02.val() == 1 ? true : false,
                    StandardTypeId:StandardTypeName02.val(),
                    Description:Description02.val(),
                    IsBase:true
                };
                NiForm(query);
            }
        })
    });

    // 新增/修改表单
    function NiForm(query){
        //console.log(query);
        tms.services.createOrUpdateForm1({
            requestBody:query,
            callback:function(data){
                $('.modal').modal('hide');
                loadList();
                tms.alert('操作成功');
            }
        })
    }
</script>