<div class="modal fade" id="singleSubjectData" role="dialog">
    <div class="modal-dialog w450" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form id="sumForm-05">
                    <div class="form-group">
                        <label class="col-md-4">ODM元数据文件</label>
                        <div class="col-md-8">
                            <select id="refOID-05" class="form-control select2">
                                {{each getDropDownRefOID as item i}}
                                <option value="{{item.Id}}">{{item.OID}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">系列文件</label>
                        <div class="col-md-8">
                            <select id="toID-05" class="form-control select2">
                                <option value="">...</option>
                                {{each getDropDownOID as item i}}
                                <option value="{{item.Id}}">{{item.OID}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-require">
                        <label class="col-md-4">eCRF版本</label>
                        <div class="col-md-8">
                            <select id="crfVersionId-05" name="crfVersion" class="form-control select2">
                                <option value="">...</option>
                                {{each getDropDownCRFVersion as item i}}
                                <option value="{{item.Id}}">{{item.Name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">已导出的研究项目</label>
                        <div class="col-md-8">
                            <select id="studyId-05" class="form-control select2">
                                {{each Projects as item i}}
                                <option value="{{item.Id}}">{{item.Name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">研究中心</label>
                        <div class="col-md-8">
                            <select id="siteId-05" class="form-control select2"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">受试者</label>
                        <div class="col-md-8">
                            <select id="subjectId-05" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4">数据截止时间</label>
                        <div class="col-md-8">
                            <div class='input-group'>
                                <input type='text' id='endTime-05' class="form-control dataTimepick"/>
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="export-05" type="button" class="btn btn-add">导出</button>
                <button type="button" class="btn btn-cancel" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        $('#singleSubjectData').on('hide.bs.modal',function () {

            // 重置表单
            $('#refOID-05 option:first').prop("selected", 'selected').trigger('change');
            $('#toID-05 option:first').prop("selected", 'selected').trigger('change');
            $('#crfVersionId-05 option:first').prop("selected", 'selected').trigger('change');
            $('#studyId-05 option:first').prop("selected", 'selected').trigger('change');
            $('#siteId-05 option:first').prop("selected", 'selected').trigger('change');
            $('#subjectId-05 option:first').prop("selected", 'selected').trigger('change');
            $('#endTime-05').val('');
            $('#sumForm-05').data('bootstrapValidator').resetForm();
        });

        $('#singleSubjectData').on('show.bs.modal',function () {
            $('#subjectId-05').select2({
                width: "100%"
            });
        });

        $('#studyId-05').change(function(){
            // 加载研究中心
            loadProject($("#studyId-05").val());
        }).change();


        $('#siteId-05').change(function(){
            // 加载受试者
            loadsubject($('#studyId-05').val(),$("#siteId-05").val());
        }).change();

        // 导出
        $('#export-05').click(function(){
            var RefOID = $('#refOID-05').val();
            var EndTime = $('#endTime-05').val();
            var StudyId = $("#studyId-05").val();
            var SubjectId = $("#subjectId-05").val();
            var ExportId = currentRow.Id;
            var SiteId = $("#SiteId-05").val();

            if($('#sumForm-05').data('bootstrapValidator').validate().isValid()){
                var query = {
                    RefOID: RefOID,
                    EndTime: EndTime,
                    StudyId: StudyId,
                    SiteId: SiteId,
                    ExportId: ExportId,
                    SubjectId:SubjectId
                };
                exportODMLogTask(query);
            }
        })
    });

    // 导出
    function exportODMLogTask(query){
        tms.services.exportODMLogTask({
            requestBody:query,
            callback:function(data){
                $('.modal').modal('hide');
                tms.alert('导出成功');
            }
        })
    }

    // 研究中心
    function loadProject(StudyId){
        //console.log(query);
        $('#siteId-05').empty();
        var _data = [];
        tms.services.getDropDownHospital({
            requestBody:{
                StudyId:StudyId
            },
            callback:function(data){
                console.log(data);
                for(var i = 0; i < data.Sites.length; i++){
                    var item = data.Sites[i];
                    _data.push({
                        id: item.Id,
                        text: item.Name
                    })
                }
                $('#siteId-05').select2({
                    width:'100%',
                    minimumResultsForSearch: -1,
                    data: _data
                });

            }
        })
    }

    // 受试者
    function loadsubject(StudyId,SiteId){
        console.log(StudyId);
        console.log(SiteId);
        $('#subjectId-05').empty();
        var _data = [];
        tms.services.getDropDownSubject({
            requestBody:{
                StudyId: StudyId,
                SiteId: SiteId
            },
            callback:function(data){
                console.log(data);
                for(var i = 0; i < data.SubjectItems.length; i++){
                    var item = data.SubjectItems[i];
                    _data.push({
                        id: item.Id,
                        text: item.Code
                    })
                }
                $('#subjectId-05').select2({
                    width:'100%',
                    data: _data
                });
            }
        })
    }

</script>