<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog w450">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新建全局字典</h4>
            </div>
            <div class="modal-body">
                <form id="itemForm">

                    <div class="form-group has-require">
                        <label class="control-label col-md-3" for="input_OID">OID</label>
                        <div class="col-md-8">
                            <input type="text" name="OID" class="form-control" id="input_OID">
                        </div>
                    </div>
                    <div class="form-group has-require">
                        <label class="control-label col-md-3" for="input_Name">名称</label>
                        <div class="col-md-8">
                            <input type="text" name="Name" class="form-control" id="input_Name">
                        </div>
                    </div>
                    <div class="form-group has-require">
                        <label class="control-label col-md-3" for="input_Mark">符号</label>
                        <div class="col-md-8">
                            <input type="text" name="Mark" class="form-control" id="input_Mark">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="input_Value">值</label>
                        <div class="col-md-8">
                            <input type="text" name="Value" class="form-control" id="input_Value">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-add">保存</button>
                <button type="button" class="btn btn-cancel" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript">
    $(function () {
        $("#myModal").on("hidden.bs.modal", function() {
            $('#itemForm')[0].reset();
            $('#input_IsReferData').find('.iradio_minimal').removeClass('checked');
            $('#itemForm').data('bootstrapValidator').resetForm();
            $(this).attr({'data-type':''});
            $('#myModalLabel').html('新建全局字典');
        });
        $("#myModal").on("show.bs.modal", function() {
            var tp=$(this).attr('data-type');
            $(this).removeClass('edit');
            if(tp=='edit'){
                $(this).addClass('edit');
                var id=$(this).attr('data-id');
                $('#myModalLabel').html('编辑全局字典');
                $(this).find('.btn-add').unbind('click').bind('click',function () {
                    addItem(id);
                })
                return;
            }
            $(this).find('.btn-add').unbind('click').bind('click',function () {
                addItem();
            })
        });
    })
</script>