<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0;" name="viewport"/>
    <title>{{title}}</title>
    <link rel="import" href="../base/_header_css.html?__inline">
</head>

<body>
<!--头部开始-->
<link rel="import" href="../base/header.html?__inline">

<!--主体内容开始-->
<div id="wrapper">
    <!--左侧导航开始-->
    <link rel="import" href="../base/nav_collect.html?__inline">
    <!--左侧导航结束-->

    <!--右侧主体开始-->
    <div id="main-collect">
        <ul class="nav nav-edc">
            <li role="presentation" class="active"><a href="javascript:;">药物(WHODD)</a></li>
            <li role="presentation"><a href="/collect/medDra">不良事件(MedDRA)</a></li>
        </ul>
        <div class="container-fluid">
            <div class="searchbar mb5">
                <div class="row">
                    <div class="col-md-3">
                        <span>研究中心</span>
                        <select id="siteId" class="form-control select2">
                            <option value="">全部</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <span>状态</span>
                        <input id="status" class="form-control" type="text"/>
                    </div>
                    <div class="col-md-2">
                        <span>录入的药物名称</span>
                        <input id="name" class="form-control" type="text"/>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-search pull-left mt40" onclick="searchItem()">查询</button>
                    </div>
                </div>
            </div>
            <table id="table"></table>
        </div>
    </div>
    <!--右侧主体结束-->
</div>
<!--主体内容结束-->
<link rel="import" href="../base/_footer_js.html?__inline">
<script src="../assets/js/pages/collect/coding.js"></script>
</body>
</html>