<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0;" name="viewport"/>
    <title>{{title}}</title>
    <link rel="import" href="../base/_header_css.html?__inline">
</head>

<body>
<!--头部开始-->
<link rel="import" href="../base/header.html?__inline">

<!--主体内容开始-->
<div id="wrapper">
    <!--左侧导航开始-->
    <link rel="import" href="../base/nav_collect.html?__inline">
    <!--左侧导航结束-->

    <!--右侧主体开始-->
    <div id="main-collect">
        <div class="container-fluid">

        </div>
    </div>
    <!--右侧主体结束-->
</div>
<!--主体内容结束-->
<link rel="import" href="../base/_footer_js.html?__inline">
<script src="../assets/js/pages/collect/patientAdd.js"></script>
</body>
</html>