<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0;" name="viewport"/>
    <title>{{title}}</title>
    <link rel="import" href="../base/_header_css.html?__inline">
    <link rel="stylesheet" href="../../assets/css/pages/main.less?__inline">
    <link rel="stylesheet" href="../../assets/css/pages/patient.less?__inline">
</head>

<body>
<!--头部开始-->
<link rel="import" href="../base/header.html?__inline">

<!--主体内容开始-->
<div id="wrapper">
    <!--左侧导航开始-->
    <link rel="import" href="../base/nav_collect.html?__inline">
    <!--左侧导航结束-->

    <!--右侧主体开始-->
    <div id="main-collect">
        <div class="container-fluid">
            <div class="tabcon1">
                <div class="tabone1 tabcon1_first" onclick="goPatientList();">
                    <div class="tabone1textcon">
                        <i class="fa fa-home fa-fw" style="cursor:pointer;" title="切换研究中心" onclick="onSelectHospital();"></i>
                        <span class="tabone1text" id="hospitalName"></span>
                    </div>
                    <div class="tabone1arrow tabone1arrow_right"></div>
                </div>
                <div class="tabone1 tabcon1_last tabone1_now">
                    <div class="tabone1arrow tabone1arrow_left"></div>
                    <div class="tabone1textcon">
                        <i class="fa fa-user fa-fw"></i>
                        <span class="tabone1text" id="patientCode"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2" style="padding-right: 0px;">
                    <div class="block" style="padding-top: 10px;">
                        <div class="block_title">
                            <span>计划内访视</span>
                        </div>
                        <ul id="menuOne" class="ztree" style="overflow:hidden;overflow-y:auto;"></ul>
                    </div>
                    <div class="block" style="padding-top: 10px;">
                        <div class="block_title">
                            <span>不定期访视</span>
                        </div>
                        <ul id="menuTwo" class="ztree" style="overflow:hidden;overflow-y:auto;"></ul>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="block" style="padding-top: 10px;">
                        <div class="block_title">
                            <button id="patientAdd" type="button" class="btn btn-search" style="width:80px;">受试者表</button>
                        </div>
                        <table id="table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--右侧主体结束-->
</div>
<!--主体内容结束-->
<link rel="import" href="../base/_footer_js.html?__inline">
<!--patient通用-->
<script src="../assets/js/pages/collect/patientOne.js"></script>
<!--验证pin码和密码-->
<link rel="import" href="modals/checkSignPwdAndPin.html?__inline">
</body>
</html>