<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0;" name="viewport"/>
    <title>{{title}}</title>
    <link rel="import" href="../base/_header_css.html?__inline">
    <link rel="stylesheet" href="../../assets/css/pages/draft.less?__inline">
</head>

<body>
<!--头部开始-->
<link rel="import" href="../base/header.html?__inline">
<!--头部结束-->
<div id="wrapper">
    <link rel="import" href="../base/nav_draft_temp.html?__inline">
    <!--右侧主体开始-->
    <div id="main">
        <ul class="nav nav-edc">
            <li role="presentation"><a href="/draft/item">Item定义</a></li>
            <li role="presentation" class="active"><a href="javascript:void(0)">外部提示语</a></li>
        </ul>
        <div class="container-fluid">
            <div style="height: 42px;line-height: 42px;">
                <div class="pull-left label-icon"><i class="icons8-queclass"></i>外部提示语</div>
                <div class="pull-right"><button type="button" class="btn btn-add" data-toggle="modal" data-target="#outerNoteEdit">新增</button></div>
            </div>
            <div class="searchbar mb5">
                <div class="row">
                    <div class="col-md-2">
                        <span>外部提示语</span>
                        <input class="form-control" type="text" id="search-DictionaryName" />
                    </div>
                    <div class="col-md-2">
                        <span>版本号</span>
                        <input class="form-control" type="text" id="search-Version" />
                    </div>
                    <div class="col-md-2">
                        <span>代码</span>
                        <input class="form-control" type="text" id="search-Code" />
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-search pull-left mt40" onclick="searchItem()">查询</button>
                    </div>
                </div>
            </div>
            <table id="table"></table>
        </div>
    </div>
    <!--右侧主体结束-->
</div>
<!-- 添加当前模板js -->
<link rel="import" href="../base/_footer_js.html?__inline">
<script src="../../assets/js/pages/draft/outerNote.js"></script>
<link rel="import" href="modals/outerNoteEdit.html?__inline">
</body>

</html>